<html>
    <head>
        <style>
            body {
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Monolithic Architecture Application</h1>
        <hr>
        <p><strong>App Type: </strong><%= data.name %></p>
        <p><strong>Developer: </strong><%= data.author %></p>
        <p><strong>Blog Post: </strong><a href="<%= data.blogPostUrl %>">Build Production Web App Part 4 - Architecture</a></p>
    </body>
</html>